body {
  font-family: 'Inter', sans-serif;
  color: #fff;
  margin: 0;
  background: linear-gradient(0deg, #080808, #1f1e28);
  min-height: 100vh;
}

header {
  padding: 0px;
  text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 1vh;
}

nav ul li {
  display: inline;
  border: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-top: 0px;
}